<!DOCTYPE html>
<html lang="en">
<head>
  <title>Womens Clothes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container">
  <h2 class="text-center"><u>{{cat}}</u></h2><br>    
  
{% for item in saves %}
<img src={{item}}>

{% endfor %}
<!-- <form method = "POST">
  <!-- {{df}} -->
  {% csrf_token %}

  <!-- <button type="submit" name="This" value="Option 1"><img src={{d1}} alt="This"></button>
  <button type="submit" name="saveThis" value="Option 1">Save This for Later</button>
  <button type="submit" name="That" value="Option 2"><img src={{d2}} alt="That"></button>
  <button type="submit" name="saveThat" value="Option 1">Save That for Later</button>
</form> --> 

</div>
  
</body>

</html>