<!DOCTYPE html>
<html lang="en">
<head>
  <title>Womens Clothes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container">
  <h2 class="text-center"><u>{{cat}}</u></h2><br>            

<form method = "POST">
  <!-- {{df}} -->
  {% csrf_token %}

  <table align="center">
    <tr>
      <td align="center">
        <button type="submit" name="This" value="Option 1"><img src={{d1}} alt="This"></button>
      </td>
      <td align="center">
        <button type="submit" name="That" value="Option 2"><img src={{d2}} alt="That"></button>
      </td>
    </tr>
    <tr></tr>
    <tr>
      <td align="center">
        <button type="submit" name="saveThis" value="Option 1">Save This for Later</button>
      </td align="center">
      <td align="center">
        <button type="submit" name="saveThat" value="Option 1">Save That for Later</button>
      </td>
    </tr>
    <tr></tr>
    <tr>
      <td colspan=2 align="center">
        <button type="submit" name="saved_items">Show me my saved items</button>
      </td>
    </tr>
  </table>
  <!-- {% for row in df %}
  {{row}}
  {% endfor %} -->
</form>



  {% for i in best %}
  {{i}}
  {% endfor %}
  {% for j in worst %}
  {{j}}
  {% endfor %}

</div>
  
</body>

</html>